@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
  color: #333;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(135deg, #2675ff, #2a5298);
  color: white;
  padding: 2rem;
  text-align: center;
  font-size: 5rem;
  height: 100vh;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

#typing-text {
  font-size: 4rem;
  font-weight: 300;
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
  position: relative;
  margin-top: 5px;
  /* Added margin to create space between hero and typing text */
}

#typing-text::after {
  content: "|";
  position: 10;
  right: 0;
  animation: blink-caret 0.75s step-end infinite;
}

@keyframes blink-caret {
  from,
  to {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }
}

nav {
  display: flex;
  justify-content: center;
  background: #1e3c72;
  top: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 90%;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  border-radius: 50px;
  position: absolute;
  top: 0;
  margin-top: 10px;
}

nav a {
  color: white;
  width: 100%;
  text-decoration: none;
  margin: 0 20px;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 10px 15px;
  border-radius: 20px;
  transition: background 0.3s ease-in-out;
}

nav a:hover {
  background: #2a5298;
  border-radius: 20px;
}

.item {
  background: white;
  padding: 20px;
  margin: 20px 100px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

#about .item {
  font-size: 2rem;
  text-align: center;
  padding: 50px;
  border-radius: 30px;
  background: linear-gradient(135deg, #2675ff, #2a5298);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
}

.projects {
  background: linear-gradient(135deg, #2675ff, #2a5298);
  min-height: 100vh;
}

#projects h1 {
  text-align: center;
  margin-bottom: 30px;
  font-size: 3rem;
  color: white;
}

.action-btn {
  display: inline-block;
  padding: 10px 20px;
  margin-top: 10px;
  background: #1e3c72;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
}

.action-btn:hover {
  background: #2a5298;
}

footer {
  text-align: center;
  padding: 1.5rem;
  background: #1e3c72;
  color: white;
  margin-top: auto;
  width: 100%;
  position: relative;
  bottom: 0;
  left: 0;
}

footer .social-icons {
  margin-top: 1rem;
}

footer .social-icons a {
  margin: 0 10px;
  display: inline-block;
}

footer .social-icons img {
  width: 40px;
  height: 40px;
}
